#date-time {
    position: absolute;
    top: 0;
    left: 0;
}
#date-time #date {
    font-size: 20pt;
    font-weight: 300;
    margin-bottom: 5px;
}
#date-time #time #HH-MM {
    font-size: 40pt;
    font-weight: 300;
}
#date-time #time #SS {
    font-size: 15pt;
    font-weight: 100;
    margin-bottom: 8px;
    margin-left: 2px;
    opacity: 0.5;
}