#spotify-information {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.0;
    transition: .4s;
    transition-timing-function: ease-in;
}

#spotify-information.show {
    top: 50%;
    opacity: 1.0;
    transition-timing-function: ease-out;
}

#spotify-information #album-art {
    width: 150px;
}

#spotify-information #artist {
    font-size: 30pt;
    font-weight: 300;
    text-align: center;
}
#spotify-information #track {
    font-size: 18pt;
    font-weight: 100;
    text-align: center;
}

#spotify-information #progress {
    padding: 10px 0;
}

#spotify-information #progress #elapsed {
    font-size: 15pt;
    font-weight: 100;
    opacity: 0.8;
    text-align: center;
}
#spotify-information #progress #total {
    font-size: 15pt;
    font-weight: 300;
    text-align: center;
}
#spotify-information #progress #spacer {
    padding: 0 4px;
    opacity: 0.8;
}