#weather-forecast {
    position: absolute;
    right: 0;
    top: 0;
}

#weather-forecast #location, #weather-forecast #current {
    width: 100%;
}

#weather-forecast #location #city {
    font-size: 40pt;
    font-weight: 300;
}
#weather-forecast #location i {
    font-size: 40pt;
    margin-top: 5px;
}

#weather-forecast #current #weathericon {
    font-size: 25pt;
    padding: 0px 10px;
}
#weather-forecast #current #temperature-wrapper {
    padding: 0px 10px;
}
#weather-forecast #current #temperature-wrapper #temperature {
    font-size: 20pt;
    font-weight: 300;
}
#weather-forecast #current #temperature-wrapper .mdi {
    font-size: 15pt;
    font-weight: 100;
    margin-bottom: 10px;
}