append styles 
  link(rel='stylesheet', href='./styles/datetime.css')

#date-time.flex.column.start-h.start-v
    #date.flex.row.start-h.center-v
        span#long-date
    #time.flex.row.start-h.end-v
        span#HH-MM
        span#SS

append scripts
    script(src="./scripts/datetime.js")
