append styles 
  link(rel='stylesheet', href='./styles/speech.css')

#speech-recognition.flex.center-vh
    span#listening Listening...

append scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js")
    script(src="./scripts/speech.js")